In [ ]:
#;.pykx.disableJupyter()

In [ ]:
# https://code.kx.com/pykx/3.0/examples/jupyter-integration.html#q-first-mode
import pykx as kx
kx.util.jupyter_qfirst_enable()

# Kx Training: Exercise - Table Joins

## Simple Joins

* Define t as the following table:


    sym price
    ---------
    a   1
    b   2
    c   3
    d   4

In [ ]:
t:([] sym:`a`b`c`d; price:1 2 3 4f)

In [ ]:
//your answer here

* Append another row to the table using the simple join operator:
    - Using table syntax 
    - Using dictionary syntax
    
    
Row to append:
    
    sym price
    ---------
    e   5
    
Expected Result:

    sym price
    ---------
    a   1
    b   2
    c   3
    d   4
    e   5

In [ ]:
//table syntax
t,([]sym:enlist `e;price:enlist 5f)

In [ ]:
//dictionary syntax
t,`sym`price!(`e;5f)

In [ ]:
//your answer here

- Join a dictionary to `t` so that it returns a table containing a nested row with a `sym` value of `` `e`f`` and a `price` value of `5 6f`

Expected Result:

    sym    price
    ----------
    `a     1f
    `b     2f
    `c     3f
    `d     4f
    `e`f   5 6f

In [ ]:
t,(`sym`price!(`e`f;5 6f))

In [ ]:
//your answer here

- Join a column `qty` to the table `t` with the values `100 150 200 250`
    - Using table syntax 
    - Using dictionary syntax
    
Expected Result:

    sym price qty
    -------------
    a   1     100
    b   2     150
    c   3     200
    d   4     250

In [ ]:
//table syntax
t,'([]qty:100 150 200 250)

In [ ]:
//dictionary syntax
t,'flip enlist[`qty]!enlist(100 200 300 400)

In [ ]:
//your answer here

## Keyed Joins

- Create a table `trade` with 10 rows and the following columns: sym,price,and size. Sym column data should be generated from the syms \`A\`B\`C\`D and suitable values should be chosen for price and size.<br>

Example of output:

    sym price    size
    -----------------
    B   49.31835 908 
    B   57.85203 360 
    C   8.388858 522 
    D   19.59907 257 
    A   37.5638  858 
    B   61.37452 585 
    C   52.94808 90  
    B   69.16099 683 
    C   22.96615 90  
    B   69.19531 869

In [ ]:
sym:`A`B`C`D
trade:([]sym:10?sym;price:10?100.0;size:10?1000)
trade

In [ ]:
//your answer here

- Define `industry` as the following table: 

Expected Result:

    sym| ind      
    ---| ---------
    A  | IT       
    B  | Finance  
    C  | Media    
    E  | Transport

In [ ]:
industry:([sym:`A`B`C`E];ind:`IT`Finance`Media`Transport)
industry

In [ ]:
//your answer here

- Join the `industry` and `trade` tables to produce a table which only contains the syms that are in both the trade and the industry tables and all corresponding data.

Example of output:

    sym price    size ind    
    -------------------------
    B   49.31835 908  Finance
    B   57.85203 360  Finance
    C   8.388858 522  Media  
    A   37.5638  858  IT     
    B   61.37452 585  Finance
    C   52.94808 90   Media  
    B   69.16099 683  Finance
    C   22.96615 90   Media  
    B   69.19531 869  Finance

In [ ]:
trade ij industry

In [ ]:
//your answer here

- Join `industry` and `trade` so that an `ind` column is added to the trade table. All original entries that were in trade should still be present and where there is no corresponding `ind` for a sym there should be a null value in the `ind` column. Call this table `trade2`. <br>

Example of output:

    sym price    size ind
    -------------------------
    D   52.39835 816
    B   97.10135 155  Finance
    A   50.14493 206  IT
    C   7.335507 946  Media
    C   92.20156 408  Media
    B   91.51617 716  Finance
    A   11.20264 170  IT
    D   59.03108 593
    D   91.98509 116
    C   10.42746 652  Media

In [ ]:
show trade2:trade lj industry

In [ ]:
//your answer here

- Create a new table as follows:

```newInd:([sym:`A`C]ind:`Transport`Healthcare;Ex:`N`P)```

Using `lj` join `newInd` and `trade2`. Describe how the returned table differs from trade2 

Example of output:

    sym price    size ind        Ex
    -------------------------------
    D   52.39835 816
    B   97.10135 155  Finance
    A   50.14493 206  Transport  N
    C   7.335507 946  Healthcare P
    C   92.20156 408  Healthcare P
    B   91.51617 716  Finance
    A   11.20264 170  Transport  N
    D   59.03108 593
    D   91.98509 116
    C   10.42746 652  Healthcare P

In [ ]:
trade2 lj newInd:([sym:`A`C]ind:`Transport`Healthcare;Ex:`N`P)

We can see that this new table has two differences: 
- A different value for the `ind column (taken from our newInd table)
- A new column Ex

In [ ]:
//your answer here

- Using `ij` join `newInd` and `trade2`. Describe how the returned table differs from trade2 <br>

Example of output:

    sym price    size ind        Ex
    -------------------------------
    A   50.14493 206  Transport  N
    C   7.335507 946  Healthcare P
    C   92.20156 408  Healthcare P
    A   11.20264 170  Transport  N
    C   10.42746 652  Healthcare P

In [ ]:
trade2 ij newInd

We can see that this new table has three differences: 
- A different value for the `ind column (taken from our newInd table)
- A new column Ex 
- Only entries for which there were also entries in newInd (namely for symbols A and C)

In [ ]:
//your answer here

- Create the following two tables. 


    tab0:([]a:1 2 3 4;b:`x`y`z`x)
    tab1:([]a:3 3 2 2;c:`a`b`c`d)

Using tab0 and tab1, create the following table.

    a c b
    -----
    3 a z
    3 b z
    2 c y
    2 d y

In [ ]:
tab0:([]a:1 2 3 4;b:`x`y`z`x)
tab1:([]a:3 3 2 2;c:`a`b`c`d)
tab1 lj 1!tab0

In [ ]:
//your answer here

- Create the following tables:

    - `medals` with columns: year, colour, country. For each year (1988, 1992, 1996, 2000) there should be 3 colours - gold, silver, bronze. For each of these 12 records allocate an id from the choice \`CHN\`GER\`KOR\`SWE randomly.<br>

    - `country1` containing 2 columns - id, name. The table should be keyed on id and should have a count of 5. Choose the ids \`ALG\`CHN\`GER\`KOR\`SWE and names Algeria, China, Germany, Korea, Sweden.<br>

In [ ]:
show nestedTable:([year:1988 1992 1996 2000]color:4#enlist(`gold`silver`bronze);country:3 cut 12?`CHN`GER`KOR`SWE)
show medals: ungroup nestedTable

In [ ]:
//alternatively, using cross: 
show rack:([]year:1988 1992 1996 2000) cross ([]color:`gold`silver`bronze)
show medals: rack,'([]country: 12?`CHN`GER`KOR`SWE)

In [ ]:
show country1:([id:`ALG`CHN`GER`KOR`SWE]name:`Algeria`China`Germany`Korea`Sweden)

In [ ]:
//your answer here

- Using `lj` with `country1` and `medals` create a table containing the year, color of medal, and name of country that won that medal

Example of output:

    year color  name
    -------------------
    1988 gold   Korea
    1988 silver China
    1988 bronze Germany
    1992 gold   Germany
    1992 silver Sweden
    1992 bronze Germany
    1996 gold   Germany
    1996 silver Sweden
    1996 bronze China
    2000 gold   Germany
    2000 silver China
    2000 bronze Korea

In [ ]:
delete country from medals lj (`country xcol country1)

In [ ]:
// your answer here

## Bitemporal Joins

- Create the following table:
    - `phoneNum` a table containing a record of changes in the telephone numbers of Tom and Bob by date

Example:

    phoneNum:([Name:`Tom`Bob`Tom`Bob;Date:2014.06.01 2014.06.01 2015.01.01 2015.06.01] phNum:336699 123456 999999 778899)

Using `phoneNum` produce a table that shows Bob’s telephone number as of the dates: `2013.06.02`,`2015.01.01`, `2015.01.02` and today.

Expected Result:

    Name Date       phNum
    ----------------------
    Bob  2013.06.02
    Bob  2015.01.01 123456
    Bob  2015.01.02 123456
    Bob  2020.08.05 778899

In [ ]:
show phoneNum:([Name:`Tom`Bob`Tom`Bob;
                    Date:2014.06.01 2014.06.01 2015.01.01 2015.06.01]
                    phNum:336699 123456 999999 778899)
show p:([]Name:4#`Bob;Date:(2013.06.02;2015.01.01;2015.01.02;.z.d))  //built our rack of times 
aj[`Name`Date;p;0!phoneNum] //need the name to be the same, otherwise we'll get Toms results

In [ ]:
//your answer here

- Create the following tables:

**trade**

    time  sym  qty
    --------------
    10:01 vod  250
    10:04 msft 100
    10:07 ibm  175
    10:08 ge   200

**quote**

    time  sym  px
    --------------
    10:01 ibm  100
    10:01 msft 99
    10:02 msft 101
    10:03 vod  105
    10:05 ibm  98
    10:08 msft 103

In [ ]:
trade:([]time:10:01 10:04 10:07 10:08;sym:`vod`msft`ibm`ge;qty:250 100 175 200)
quote:([]time:10:01 10:01 10:02 10:03 10:05 10:08;sym:`ibm`msft`msft`vod`ibm`msft;px:100 99 101 105 98 103)

In [ ]:
//your answer here

- Join the `quote` table to the `trade` table so that it now has a `px` column which is the price of the quote at the time of trade. If no quote has been given for a `sym` then show null in the `px` column

Expected output:

    time  sym  qty px
    ------------------
    10:01 vod  250
    10:04 msft 100 101
    10:07 ibm  175 98
    10:08 ge   200

In [ ]:
aj[`sym`time;trade;quote]

In [ ]:
//your answer here

- Return a table with the `px` value for 5 minutes after the trade 

Expected output:

    time  sym  qty px
    ------------------
    10:01 vod  250 105
    10:04 msft 100 103
    10:07 ibm  175 98
    10:08 ge   200

In [ ]:
aj[`sym`time;trade;update time-5 from quote]

In [ ]:
//your answer here

## Functions

- Create a function `keyJoin` which takes as input:<br> 

    - time series table
    - keyed table

Description:
- Should join keyed table to rows in time series table that match the keys in keyed table
- Unsuccessful matches should just be left as null

Example of Code:

    N:5
    
    trade:([]sym:N#`BARC`MSFT`PSN;price:.5+til N;size:100*1+til N)
    trade
    sym  price size
    ---------------
    BARC 0.5   100
    MSFT 1.5   200
    PSN  2.5   300
    BARC 3.5   400
    MSFT 4.5   500
    
    ind:([sym:`BARC`PSN]ind:`Banking`Construction)
    ind
    sym | ind
    ----| ------------
    BARC| Banking
    PSN | Construction
    
    keyJoin[trade;ind]					// unsuccessful matches are null
    sym  price size ind
    ----------------------------
    BARC 0.5   100  Banking
    MSFT 1.5   200
    PSN  2.5   300  Construction
    BARC 3.5   400  Banking
    MSFT 4.5   500

In [ ]:
keyJoin:lj

In [ ]:
//your answer here

Test your function using the code below

In [ ]:
N:5
trade:([]sym:N#`BARC`MSFT`PSN;price:.5+til N;size:100*1+til N)
ind:([sym:`BARC`PSN]ind:`Banking`Construction)
keyJoin[trade;ind]

- Create a function `keyFilterJoin` which takes as input:<br> 
    - time series table
    - keyed table

Description
- Should join keyed table to rows in time series table that match the keys in keyed table
- Unsuccessful matches are omitted from the result set

Example of Code:
(Using tables in above example)

    keyFilterJoin[trade;ind]				// unsuccessful matches are omitted
    sym  price size ind
    ----------------------------
    BARC 0.5   100  Banking
    PSN  2.5   300  Construction
    BARC 3.5   400  Banking

In [ ]:
keyFilterJoin:ij

In [ ]:
//your answer here

Test your function using the code below

In [ ]:
keyFilterJoin[trade;ind]

Create a function `getPrevailingQuote`<br> 

Description
- Returns a join of the trade and quote table, which shows each trade record with the prevailing quote (on any exchange) at the time of each trade
- Apply grouped attribute for performance
- Quotes should be specific to the sym
- Assumes global table trade and quote 

Example of Code:

    trade:([]sym:`BP`IBM`IBM`JPM;time:"u"$4.5 6.2 9.8 12;px:5 11 8 4f)                                         
    
    quote:([]sym:`IBM`IBM`JPM`JPM;time:"u"$4 6 6.5 10;bid:.5+1 2 3 4;ask:.5+1 2 3 4) 
    
    getPrevailingQuote[]
    
    sym time  px bid ask
    --------------------
    BP  00:05 5         
    IBM 00:06 11 2.5 2.5
    IBM 00:10 8  2.5 2.5
    JPM 00:12 4  4.5 4.5

In [ ]:
getPrevailingQuote:{aj[`sym`time;update `g#sym from get `trade;get `quote]}

In [ ]:
//your answer here

Test your function using the code below

In [ ]:
trade:([]sym:`BP`IBM`IBM`JPM;time:"u"$4.5 6.2 9.8 12;px:5 11 8 4f)                                         
quote:([]sym:`IBM`IBM`JPM`JPM;time:"u"$4 6 6.5 10;bid:.5+1 2 3 4;ask:.5+1 2 3 4) 

getPrevailingQuote[]

- Create a function `getPrevailingLocalQuote`<br> 


Description
- Returns a join of the trade and quote table, which shows each trade record with the prevailing quote at the time of each trade on that exchange.
- Apply grouped attribute for performance

Example of Code:

    trade:([]sym:`BP`IBM`IBM`JPM;time:"u"$4.5 6.2 9.8 12;px:5 11 8 4f';ex:`A`A`A`B)                                         
    
    quote:([]sym:`IBM`IBM`JPM`JPM;time:"u"$4 6 6.5 10;bid:.5+1 2 3 4;ask:.5+1 2 3 4;ex:`A`A`A`A) 
    
    getPrevailingLocalQuote[]
    
    sym time  px ex bid ask
    -----------------------
    BP  00:05 5  A        
    IBM 00:06 11 A  2.5 2.5
    IBM 00:06 8  A  2.5 2.5
    JPM 00:10 4  B

In [ ]:
getPrevailingLocalQuote:{aj[`sym`ex`time;update `g#sym from get `trade;get `quote]}

In [ ]:
//your answer here

Test your function using the code below

In [ ]:
show trade:([]sym:`BP`IBM`IBM`JPM;time:"u"$4.5 6.2 9.8 12;px:5 11 8 4f;ex:`A`A`A`B)                                         
show quote:([]sym:`IBM`IBM`JPM`JPM;time:"u"$4 6 6.5 10;bid:.5+1 2 3 4;ask:.5+1 2 3 4;ex:`A`A`A`A) 
    
getPrevailingLocalQuote[]