In [ ]:
#;.pykx.disableJupyter()

In [ ]:
# https://code.kx.com/pykx/3.0/examples/jupyter-integration.html#q-first-mode
import pykx as kx
kx.util.jupyter_qfirst_enable()

# Notation in Kdb+

## Introduction

When you're learning a new programming language, the most confusing thing can often be the syntax. In this module, we  explain the usage of various types of brackets and other characters that play an integral part in defining the structure of our code. Hopefully, by the end of this lesson, we should be able to read and understand the basic structure of a kdb+/q code.

# Vector Notation

Lists in which all the items have the same datatype play an important role in kdb+. Q gives vector constants a special notation, which varies by datatype.

In [32]:
01110001b         / boolean
"abcdefg"         / character
`ibm`aapl`msft    / symbol

01110001b

"abcdefg"

`ibm`aapl`msft

Numeric and temporal vectors separate items with spaces and if necessary declare their type with a suffixed lower-case character.

In [33]:
2018.05 2018.07 2019.01m            // month
2 3 4 5 6h                          // short integer (2 bytes)
2 3 4 5 6i                          //       integer (4 bytes)
2 3 4 5 6                           // long  integer (8 bytes)
2 3 4 5 6j                          // long  integer (8 bytes)
2 3 4 5.6                           // float         (8 bytes)
2 3 4 5 6f                          // float         (8 bytes)

2018.05 2018.07 2019.01m

2 3 4 5 6h

2 3 4 5 6i

2 3 4 5 6

2 3 4 5 6

2 3 4 5.6

2 3 4 5 6f

In [34]:
2012.09.15 2012.07.05     // Date vector
"abc"                     //Char vector or String
0101b                     //Boolean vector
`ibm`att`ora              //symbol vector

2012.09.15 2012.07.05

"abc"

0101b

`ibm`att`ora

Note that for defining symbols, we use a backtick \` and not an apostrophe '.

# Bracket notation

## Round Brackets `()`

In kdb+/q, round brackets are used for the following: 
* Creating lists
* Explicitly defining orders of execution

### List notation

A sequence of expressions separated by semicolons and surrounded by left and right parentheses denotes a list. The expression for the list is called a list expression, and this manner of denoting a list is called list notation. For example:

In [35]:
(3 + 4; `abc; -20.45)

7
`abc
-20.45

The empty list is denoted by `()`, but otherwise at least one semicolon is required. When parentheses enclose only one expression they have the common mathematical meaning of bounding a sub-expression within another expression. For example, in

In [36]:
(5*6) + 20

50

the product 5 * 6 is formed first and its result is added to 20; the expression (5 * 6) is not list notation.

An atom is not a one-item list. One-item lists are formed with the [`enlist`](https://code.kx.com/q/ref/enlist/) function, as in `enlist "a"` and `enlist 3.1416`.

In [37]:
7 //Atom
enlist 7 //one-item list

7

,7

### Explicit statement separation

As kdb+/q works from right to left, we may on occasion want to signify a means to separate the statements in a similar way to how brackets would typically function mathematically.

In [38]:
5*10+2    //without brackets the addition takes place first, then the multiplication

60

In [39]:
(5*10)+2  //with the brackets, the multiplication takes place first

52

In many cases, the same effect as explicitly bracketing can often be achieved by reordering the statement to reflect the order in which we want to operations to be processed:

In [40]:
2+5*10

52

## Square Brackets `[]`

A sequence of expressions separated by semicolons and surrounded by square left and right brackets `[]` denotes either: 
 
 + The indexes of a list
 + The arguments of a function
 + Special within structure delimiting - table keys, function parameters, statement executions

### Square Brackets for Indexing

Starting with an example, `m[0;0]` selects the element in the upper left corner of a matrix m, and

In [41]:
m : (1 2 3; 4 5 6; 7 8 9) //3*3 matrix
m
m[0;0]    // returns the upper left corner of the matrix

1 2 3
4 5 6
7 8 9

1

Semicolons separating indexes indicate a further level of indexing which is applied to all items returned from the previous level of indexing:

In [42]:
m[0 1]      //first two rows
m[0 1; 2]   //the third item of each of the first two rows

1 2 3
4 5 6

3 6

We can also choose not to pass any indexes - `m[]` selects all items of a list `m`

### Square Brackets for passing arguments to functions

Given a function `f`, calling the function `f[a;b;c]` evaluates the function with the three arguments `a`, `b`, and `c`.

In [43]:
func:{[a;b;c] a+b+c} // function which adds three numbers
func[1;2;3]          // Calling the function

6

All functional notation in kdb+/q relies on using square brackets to pass arguments to functions. Semicolons within the brackets indicate a new parameter.

In [44]:
1 + 2   //infix notation
+[1;2]  //functional notation

3

3

Bracket pairs with nothing between them also have meaning - `f[]` evaluates the no-argument function `f`.

### Square Brackets for special delimiting

There are three special places where square brackets are used within a given structure to indicate a special relationship. 

Within a function, immediately following the first curly bracket these describe the function parameters.

In [45]:
f:{[parameter1;parameter2] parameter1+ parameter2 } //function parameters are enclosed in the square brackets

Within a table, immediately following the opening round bracket, the contents define the table key(s):

In [46]:
([a: 1 2 3; b: 10 2 3] c: 3 4 5) //key columns are enclosed in the square brackets

a b | c
----| -
1 10| 3
2 2 | 4
3 3 | 5

Finally a place they are sometimes used is within conditional execution to list multiple statements to be executed.

In [47]:
$[1b;     //if true return 3, otherwise return 4
    3;    
    4]

3

In [48]:
$[1b;    //the items enclosed in the [] for the 'true' expresssion are all executed when separated by [] 
    [-1 "Printing something"; 3];    //only the last statement execution is returned
    4]

Printing something

3

In [49]:
$[1b;    
    (-1 "Printing something"; 3);    //if using round brackets, all items are returned as this is a list
    4]

Printing something

-1 3

## Curly Brackets  `{}`

A sequence of expressions separated by semicolons and surrounded by left and right braces `{}` denotes a function. 

Within a script, a function may be defined across multiple lines.

In [50]:
f: {[x;y] x+y; //statements in a function are separated by semicolons
        x-y; 
        x,y}
f[1;2]

1 2

Functions with 3 or fewer arguments may omit the signature and instead use default argument names `x`, `y` and `z`.

A lambda with a signature is signed; without, unsigned.

In [51]:
{[x;y](x*x)+(y*y)+2*x*y}[20;4]  / signed lambda

576

In [52]:
{(x*x)+(y*y)+2*x*y}[20;4]       / unsigned lambda

576

# Table Notation

A table can be written as a list of associations between columns names and their corresponding data.

In [53]:
([]sym:`aapl`msft`goog;price:100 200 300)

sym  price
----------
aapl 100
msft 200
goog 300

The names assigned become the column names. The values assigned must conform as lists of the same count, or atoms.


The square brackets are where the key to the table (if desired) are defined. Empty brackets `[]` indicate that the table is simple and has no [`key`](https://code.kx.com/q/ref/key/).

In [54]:
sym:`aapl`msft`goog
price:100 200 300
([] sym; price)

sym  price
----------
aapl 100
msft 200
goog 300

 To define a 1-row table, `enlist` at least one of the column values.

In [55]:
([] sym:enlist`aapl; price:100)

sym  price
----------
aapl 100

The initial expression list can declare one or more columns as a key. The values of the key column/s of a table should be unique.

In [56]:
([names:`bob`carol`bob`alice;city:`NYC`CHI`SFO`SFO]; ages:42 39 51 44)

names city| ages
----------| ----
bob   NYC | 42
carol CHI | 39
bob   SFO | 51
alice SFO | 44

# Assignment using colon `:`

## Assign

The most common use of colon is to name values.

In [57]:
a : 5
b: 2 * a

This is also used in qSQL to name columns, or within table definitions to assign column names.

## Special cases of assignment `::`

A pair of colons with a name to its left and an expression on the right

   - within a function expression, denotes global assignment, that is, assignment to a global name (`{… ; x::3 ; …}`)
   - outside a function expression, defines a [view](https://code.kx.com/q/learn/views/)

### Global Assignment

In [58]:
a : 5
f : {b:2; a::6; a*b} //:: is used for global assignment
a
f[]

5

12

In [59]:
a // Value of global variable a is now 6 after executing the function f

6

### Views
In the case of views:

In [60]:
b::a +10  //views are calculated at run time
b         //value for a is 6

16

In [61]:
a: 10   //reassigning a
b       //when b is called now, it uses the current value of a of 10

20

# Other Uses of colon `:`

## Explicit return

Within a lambda (function definition) a colon followed by a value terminates evaluation of the function, and the value is returned as its result.

The [explicit return](https://code.kx.com/q/basics/function-notation/#explicit-return) is a common form when detecting edge cases, e.g.

In [62]:
func2 : {a:10;:a;a:12} // :a will retuen the execution and ignore further statements
func2[]

10

## Colons in names

In general in kdb+/q most names or paths that start with a leading `:` are indicative of a handle, either to another process:

In [ ]:
h: hopen `:localhost:5010 //syntax to open a handle to another process running on port 5010

Or to a file:

In [63]:
logHandle: hopen `:myLog.txt //opening a handle to a log file

## Colons in special functions

The functions associated with [I/O](https://code.kx.com/q4m3/11_IO/) and [interprocess communication](https://code.kx.com/q/basics/ipc/) are denoted by a colon following a digit, as in `0:` and `1:`.

# Whitespace

In many places in kdb+/q whitespace is required to *not* be present e.g. defining a list of symbols:

In [65]:
show symList: `a`list`of`symbols`needs`no`whitespace

`a`list`of`symbols`needs`no`whitespace

The most common place where people are tripped up by whitespace *being* required is when defining multi-line functions in a script:

In [70]:
f:{[p1;p2] p1+p2 
}    //we can't end our function bracket against the margin - we need whitespace here 
f[1;3]

parse error: {

In [70]:
f:{[p1;p2] p1+p2
 }    //one space and all will work
f[1;3]

4

Whitespace in kdb+/q is usually interpreted as `@` which is why sometime brackets are not required for top level indexing  - for example:

In [71]:
show l:10* til 10

0 10 20 30 40 50 60 70 80 90

In [74]:
l 3 4 
l@3 4

30 40

30 40

In [75]:
(l 3 4)~ l@3 4

1b