In [ ]:
#;.pykx.disableJupyter()

In [ ]:
# https://code.kx.com/pykx/3.0/examples/jupyter-integration.html#q-first-mode
import pykx as kx
kx.util.jupyter_qfirst_enable()

# Kx Training: Exercise - Tables

## Creating tables and investigation

### Unkeyed Tables

* Create a table called `quote` with columns
        - sym:`IBM.L`VOD.L`VED.L
        - price:50.3 12.1 151.56
        - size: 1000 200 60

In [ ]:
quote:([]sym:`IBM.L`VOD.L`VED.L;price:50.3 12.1 151.56;size: 1000 200 60)
quote

In [ ]:
//your answer here

* How can we return the number of rows in this table?

In [ ]:
count quote

In [ ]:
//your answer here

* What is the type of the table?

In [ ]:
type quote

In [ ]:
//your answer here

* What command can we use to see the data types of each column of the table?

In [ ]:
meta quote

In [ ]:
//your answer here

### Keyed Tables

* Create a keyed table `tradeKey` with the following data:


    - id:1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 (key)
    - sym:`IBM`GE`JPM`BP`JPM`BP`JPM`ASD`JPM`IBM
    - price:79 88 83 74 87 54 95 91 52 89
    - size:117 123 112 166 136 137 144 128 120 130
    - side:`B`S`B`S`B`S`B`B`S`B

Keyed on `id`. Do so using the following methods:

- Dictionary of flipped dictionaries (aka tables)
- Table definition syntax

In [ ]:
// Dictionary of flipped dictionaries
k:flip (enlist `id)!enlist 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010
v:flip `sym`price`size`side!(`IBM`GE`JPM`BP`JPM`BP`JPM`ASD`JPM`IBM;
                             79 88 83 74 87 54 95 91 52 89;
                             117 123 112 166 136 137 144 128 120 130;
                             `B`S`B`S`B`S`B`B`S`B)
show tradeKey:k!v

In [ ]:
// Table definition syntax
tradeKey:([id:1001 1002 1003 1004 1005 1006 1007 1008 1009 1010]
        sym:`IBM`GE`JPM`BP`JPM`BP`JPM`ASD`JPM`IBM;
        price:iq:79 88 83 74 87 54 95 91 52 89;
        size:117 123 112 166 136 137 144 128 120 130;
        side:`B`S`B`S`B`S`B`B`S`B)

show tradeKey

In [ ]:
//your answer here

* Confirm that `tradeKey` is a keyed table

In [ ]:
99h~type tradeKey

In [ ]:
//your answer here

* Extract the keys from the trade table

In [ ]:
key tradeKey

In [ ]:
//your answer here

* Extract the values of the trade table

In [ ]:
value tradeKey

In [ ]:
//your answer here

## Manipulating tables

### Unkeyed Tables

* Return the `quote` table as a dictionary.

In [ ]:
flip quote

In [ ]:
//your answer here

* Use dictionary syntax to return the prices of the `quote` table as a list.

In [ ]:
quote `price
quote[`price]

In [ ]:
//your answer here

* Use dot syntax to return the sym column as a list.

In [ ]:
quote.sym

In [ ]:
//your answer here

* Rename the first two columns of the table to SYM and PRICE

In [ ]:
`SYM`PRICE xcol quote

In [ ]:
//your answer here

* Order the table descending by size

In [ ]:
`size xdesc quote

In [ ]:
//your answer here

* Reorder the columns so that price and size are the other way round.

In [ ]:
`sym`size`price xcols quote  //if you're getting confused between xcol and xcols, it may be helpful to think 
                                //xcols has an (s) for re-Sorting

In [ ]:
//your answer here

Consider the two following tables:

  
  `` t3:([] sym:`a`b`c`d; price:1 2 3 4f;size:100 200 300 400)
t4:([] sym:`a`c`f; price:11 3 11f;size:100 300 1000)``
    
* Retrieve the rows where t3 and t4 are the same

In [ ]:
show t3:([] sym:`a`b`c`d; price:1 2 3 4f;size:100 200 300 400)
show t4:([] sym:`a`c`f; price:11 3 11f;size:100 300 1000)
t3 where t3 in t4

In [ ]:
t3 inter t4   //finding the intersection will also work

In [ ]:
//your answer here

* Retrieve the row indices of t3 which are in t4

In [ ]:
where t3 in t4

In [ ]:
//your answer here

* Retrieve the union set of t3 and t4

In [ ]:
t3 union t4

In [ ]:
//your answer here

* Retrieve the rows in t3, except for the ones in t4

In [ ]:
t3 except t4

In [ ]:
//your answer here

### Keyed Tables

* Extract the values of the sym column from the `tradeKey` table

In [ ]:
(value tradeKey)[`sym]

In [ ]:
//your answer here

* Extract the row values (sym, price, size and side) for id `1005` and `1008` from the `tradeKey` table

In [ ]:
tradeKey[([]id:1005 1008)]

In [ ]:
//your answer here

* Extract the price value for `tradeKey` id `1002`

In [ ]:
tradeKey[([]id:enlist 1002);`price]

In [ ]:
//your answer here

* Modify the side for `tradeKey` id `1009` to be `` `B``

In [ ]:
tradeKey[([]id:enlist 1009);`side]:enlist `B
show tradeKey

In [ ]:
//your answer here

* Unkey the `tradeKey` table and assign it to the variable `unkeyedTrade`

In [ ]:
unkeyedTrade:0!tradeKey
//or
unkeyedTrade:() xkey tradeKey
show unkeyedTrade

In [ ]:
//your answer here

## Appending records to tables

### Unkeyed Tables

* Create the table 

```t1:([] sym:`a`b`c`d`c`d; price:1 2 3 4 8 9f)```

Use the insert syntax to insert the symbols <code>\`e</code> and <code>\`g</code> and the prices 5 and 7. Do it as a bulk insert.

In [ ]:
show t1:([] sym:`a`b`c`d`c`d; price:1 2 3 4 3 4f)
`t1 insert (`e`g;5 7f)
t1

In [ ]:
//alternatively as a table insert: 
`t1 insert ([]sym:`e`g; price:5 7f)

In [ ]:
//your answer here

* Use the join (,) syntax to do the same thing

In [ ]:
t1:([] sym:`a`b`c`d`c`d; price:1 2 3 4 3 4f)     
show t1,:([]sym:`e`g;price:5 7f)          //join and amend in place 
meta t1

In [ ]:
//your answer here

* Extract the 3rd row from t1. What is it's type?

In [ ]:
t1 2
type t1 2

In [ ]:
//your answer here

* Extract the distinct items from t1

In [ ]:
t1 
distinct t1  //will return a table of the distinct rows in our data

In [ ]:
//your answer here

* Using the distinct items from `t1` as defined above, create `t2` which is `t1` with an additional column, size. Size should be of type int and can be calculated as `100*1+(index in list)`

In [ ]:
show t2: distinct t1
t2[`size]: `int$100*1+til count distinct t1
meta t2
t2

In [ ]:
//your answer here

* Run the code:

    <code>t2 upsert flip (\`a\`g;1 2;3 5)</code>
    
    Why does it fail?

The numbers in the new rows are longs by default, size and price columns are int and float

In [ ]:
flip (`a`g;1 2; 3 5)             //we are using flip here to format the data as rows
t2 upsert flip (`a`g;1 2; 3 5)   //we get a type error

In [ ]:
//first step - check our types! 
show tabTypes:0!meta t2                           //unkeying so we can add a new column using dictionary notation
tabTypes[`newDataTypes]:type each (`a`g;1 2; 3 5) //checking the type of each of our new data
tabTypes                                          //can see a disagreement between the type of size

In [ ]:
//your answer here

* Correct the code so that it works without an error.

In [ ]:
t2 upsert flip (`a`g;1 2f;3 5)

In [ ]:
//your answer here

### Keyed Tables

* Add the following new rows to the keyed `tradeKey` table


    id   | sym   price   size     side
    -----| -----------------------------
    1011 | `BP    81      111     `B
    1012 | `JPM   65      156     `B

In [ ]:
`tradeKey insert flip `id`sym`price`size`side!(1011 1012;`BP`JPM;81 65;111 156;`B`B)
//or 
`tradeKey upsert flip `id`sym`price`size`side!(1011 1012;`BP`JPM;81 65;111 156;`B`B)

In [ ]:
//your answer here

* Update the information for `tradeKey` id `1001` to the following:


    id   | sym   price   size     side
    -----| -----------------------------
    1001 | `BP    85      115     `B

In [ ]:
`tradeKey upsert(1001;`BP;85;115;`B)

In [ ]:
//your answer here

## Functions

* Create a function `returnKeyedTable` which takes as input:<br> 


    - t  - table name (as symbol)
    - k - key(s) to key on

Returns the specified table keyed on k -  the underlying table should not be changed

Example of Code
    
    returnKeyedTable[`trade;`sym]                                        // returns a keys version of the table
    sym| time                          size price side exchange
    ---| ------------------------------------------------------
    GE | 2016.04.22D15:02:31.169380000 150  1025  B    N
    BP | 2016.04.22D15:02:31.169380000 210  1050  S    L

    trade                                                                // but doesn't alter the underlying table 
    time                          sym size price side exchange
    ----------------------------------------------------------
    2016.04.22D15:02:31.169380000 GE  150  1025  B    N
    2016.04.22D15:02:31.169380000 BP  210  1050  S    L

In [ ]:
returnKeyedTable:{[t;k]k xkey get t}

In [ ]:
//your answer here

Test your function using the code below

In [ ]:
trade:flip`time`sym`size`prize`side`exchange!(2#2016.04.22D15:02:31.169380000;`GE`BP;150 210;1025 1050;`B`S;`N`L)
returnKeyedTable[`trade;`sym]

* Create a function `applyKeyToTable` which takes as input:<br> 


    - t  - table name (as symbol)
    - k - key(s) to key on. If this list is empty, the table should be unkeyed

Returns the name of the table. The underlying table should be keyed / unkeyed as per the supplied argument

Example of Code
    
    applyKeyToTable[`trade;`sym]					          // alters the underlying table and just returns the table name
    `trade

    trade
    sym| time                          size price side exchange
    ---| ------------------------------------------------------
    GE | 2016.04.22D15:02:31.169380000 150  1025  B    N
    BP | 2016.04.22D15:02:31.169380000 210  1050  S    L

In [ ]:
applyKeyToTable:{[t;k]k xkey t}

In [ ]:
//your answer here

Test your function using the code below

In [ ]:
applyKeyToTable[`trade;`sym] 
trade //should change

* For the next function, we will create a table `randomTable` with 20 rows and the following columns: 
     * sym - random selection from <code>\`AAPL\`MSFT\`FD\`KX</code>
     * time - random timestamp between midnight and the current time 
     * price - random decimal price between 20-40
     * qty - random quantity between 100-1000

In [ ]:
rows:20;
randomTable:([] sym: rows?`AAPL`MSFT`FD`KX;
                time: .z.d + rows?.z.t; 
                price: 20+rows?20f;
                qty:100+rows?901 )
randomTable

In [ ]:
//your answer here

* Create function `appendData` that takes as an input `randomTable`, either as a table value, or as a symbol and a list of data in dictionary format and returns randomTable with the data appended. Run the function with the following dictionary as input - <code>\`sym\`time\`price\`qty!(\`KX\`FD;2#.z.p;54.4 52.1;300 300)</code>. 

This should not affect the global randomTable.

In [ ]:
randomTable
data:`sym`time`price`qty!(`KX`FD;2#.z.p;54.4 52.1;300 300)

In [ ]:
appendData:{[tab;dataDict] if[-11h~type tab;tab:get tab]; //if passed by reference (i.e. sym) get it's value
                    tab upsert flip dataDict}             //can't use insert, as we don't want to persist
//                  tab,flip dataDict}                    //could use this either

In [ ]:
appendData[`randomTable;data]
appendData[randomTable;data]

In [ ]:
//your answer here

* Define the following two tables with the corresponding columns and types:

**trade**

* time (timestamp)
* sym (symbol)
* size (long)
* price (long)
* side (symbol)
* exchange (symbol)

**quote**

* time (timestamp)
* sym (symbol)
* bid (long)
* ask (long)
* bidSize (long)
* askSize (long)
* exchange (symbol)

Define a variable **BATCH** and assign it the value `1b` (true)

In [ ]:
trade:([]time:`timestamp$();sym:`$();size:`long$();price:`long$();side:`$();exchange:`$());
quote:([]time:`timestamp$();sym:`$();bid:`long$();ask:`long$();bidSize:`long$();askSize:`long$();exchange:`$());
BATCH:1b

In [ ]:
//your answer here

* Create a function `upd` which takes as input:<br> 
    * t - the name of a table (a symbol) e.g. `trade` or `quote`
    * d - the data - this should  be a list, where each item in the list is an atom or list itself corresponding to the columns in the associated table (`trade` or `quote`)

**The function should (if BATCH is true):**
    - insert the data into the appropriate table
    - return the indices that the records were inserted at (e.g. 0 1 for the first 2 records inserted)

**The function should (if BATCH is false):**
    - not insert anything into the trade or quote tables
    - return a table populated with the data that was passed in

**If everything has been defined correctly, the following code snippets should all match examples**

Example of Code:

    BATCH:0b																// start by testing in non-batch mode
    upd[`trade;(2#.z.P;`ASD`IBM;300 400;4000 6000;`O`P;`N`D)]			   // test with two records
    time                          sym size price side exchange			  // copy of table returned
    ----------------------------------------------------------
    2016.03.19D12:17:50.871658000 ASD 300  4000  O    N
    2016.03.19D12:17:50.871658000 IBM 400  6000  P    D
    
    trade																    // underlying table should be unchanged
    time sym size price side exchange
    ---------------------------------

In [ ]:
upd:{[t;d]$[BATCH;t insert d;get[t]upsert flip(),/:d]}

In [ ]:
//your answer here

Test your function using the code below

In [ ]:
BATCH:0b
upd[`trade;(2#.z.P;`ASD`IBM;300 400;4000 6000;`O`P;`N`D)]  // test with two records
trade                                                      // underlying table should be unchanged

In [ ]:
BATCH:0b
upd[`quote;(.z.P;`MSFT;745;755;100;200;`T)]                // should work with a single row also
quote

In [ ]:
BATCH:1b                                                   // Batch mode on
upd[`quote;(.z.P;`APPL;15;20;190;650;`T)]                  // indices returned
quote

In [ ]:
upd[`quote;(.z.P;`SHL;945;1055;200;250;`X)]
quote

In [ ]:
upd[`trade;(2#.z.P;`ASD`IBM;300 400;4000 6000;`O`P;`N`D)]
trade